/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* FONT */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

header h1 {
    margin: 0;
    font-family: "Averia Serif Libre", serif;
    font-weight: 700;
    font-style: italic;
}

nav {
    margin: 20px 0;
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
} */

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li {
    width: 150px;
}

nav ul li a {
    display: block;
    padding: 14px 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, font-weight 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    font-weight: bold;
}

/* CAROUSEL */
.carousel {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: auto;
}

/* PRODUCTS */
#feat-title {
    margin-top: 50px;
    text-align: center;
}

.product-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    text-align: center;
    margin: 10px;
    /* flex: 1 0 30%; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 300px;
    height: 540px;
}

.product img {
    width: 300px;
    height: 300px;
}

.case-price {
    font-weight: bolder;
}

.add-cart {
    color: white;
    background-color: rgb(228, 54, 54);
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section {
    padding: 20px;
}

/* map */
#map { 
    height: 350px; 
}

#map-area {
    margin: 20px 0;
}

#map-area h2 {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Mobile view */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 350px;
        height: 700px;
        flex-wrap: wrap;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #232222;
        border-radius: 10px;
        z-index: 99;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        width: 100%;
        margin: 20px 0;
    }

    nav ul li a {
        padding: 14px 20px;
    }

    /* Carousel */
    .glide {
        width: 100%;
        max-width: 100%;
    }

    .glide__slides {
        display: flex;
    }

    .glide__slide img {
        width: 100%;
        height: auto;
    }

    /* Additional styles for carousel, products, and footer */
    .carousel {
        width: 100%;
        overflow: hidden;
        margin: 20px 0;
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .slides img {
        width: 100%;
        height: auto;
    }
}